.isloading {
    margin-top: 4px;
    min-height: h-screen-screen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iserror {
    margin-top: 4px;
    min-height: h-screen-screen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2;
    margin-top: 16px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2;
    margin-top: 16px;
}