.battleground {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.simplesqure1 {
    height: 300px;
    width: 300px;
    background-color: #5D3A3A;
}

.simplesqure2 {
    height: 150px;
    width: 150px;
    background-color: #B5E0BA;
}

.carrom {
    height: 300px;
    width: 300px;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    background-color: #62374E;
}

.yellowBox {
    height: 50px;
    width: 50px;
    background-color: #FDC57B;

}

.Row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pushbuttonbackground {
    height: 300px;
    width: 300px;
    background-color: #6592CF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pushbuttonrectangle {
    height: 130px;
    width: 250px;
    background-color: #243D83;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pushbuttoncircle {
    height: 200px;
    width: 200px;
    background-color: #6592CF;
    border-radius: 50%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pushbutton {
    height: 100px;
    width: 100px;
    background-color: #243D83;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellocirclepushbutton {
    height: 30px;
    width: 30px;
    background-color: #EEB850;
    border-radius: 50%;
}

.upsanddowns {
    height: 300px;
    width: 350px;
    background-color: #62306D;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.commoncontainer {
    height: 100px;
    width: 100px;
    background-color: #F7EC7D;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.upsidedownrightcontainer,
.upsidedownleftcontainer {
    transform: rotate(180deg);
    margin-top: 100px;
}


.acidrainbackground {
    height: 300px;
    width: 300px;
    background-color: #0B2429;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.firstacidraincontainer {
    height: 80px;
    width: 80px;
    background-color: #F3AC3C;
    border-radius: 40px 0px 40px 40px;
    position: absolute;
    top: 140px;
    left: 70px;
}

.secondacidraincontainer {
    height: 80px;
    width: 80px;
    border-radius: 40px 0px 40px 40px;
    background-color: #998235;
    position: absolute;
    left: 110px;
    top: 100px;
}

.thirdacidraincontainer {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #F3AC3C;
    position: absolute;
    top: 60px;
    left: 145px;
}


.missingslicebackground {
    height: 300px;
    width: 350px;
    background-color: #E3516E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commonslicecontainer {
    height: 100px;
    width: 100px;
}

.slicecontainerone {
    background-color: #51B5A9;
    border-radius: 100% 0% 0%;
}

.slicecontainertwo {
    background-color: #F7F3D7;
    border-radius: 0% 0% 0% 100%;
}

.slicecontainerthree {
    background-color: #FADE8B;
    border-radius: 0% 100% 0% 0%;
}

.slicecontainerfour {
    background-color: #E3516E;
}

.leafytrailbackground {
    height: 300px;
    width: 300px;
    background-color: #0B2429;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.leafytrailcontainer {
    height: 120px;
    width: 120px;
    border-radius: 70% 0%;
}

.leafytrailcontainercenter {
    background-color: #998235;
    position: absolute;
    top: 100px;
    left: 60px
}

.leafytrailcontainerfront {
    background-color: #F3AC3C;
    position: absolute;
    top: 100px
}

.leafytrailcontainerback {
    background-color: #1A4341;
    position: absolute;
    top: 100px;
    left: 30px
}

.forkingcrazybackground {
    height: 300px;
    width: 300px;
    background-color: #6592CF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.forkhandle {
    height: 50px;
    width: 15px;
    background-color: #060F55;
}

.forkbase {
    height: 70px;
    width: 100px;
    background-color: #060F55;
    border-radius: 0% 0% 70% 70%;
}

.forkpoint {
    height: 60px;
    width: 100px;
    display: flex;
}

.forkslotfill {
    height: 60px;
    width: 30px;
    background-color: #060F55;
    border-radius: 15px 15px 0px 0px;
}

.forkslotempty {
    height: 70px;
    width: 30px;
    z-index: 1;
    background-color: #6592CF;
    border-radius: 0px 0px 10px 10px;
}



.tesseractbackground {
    height: 300px;
    width: 400px;
    background-color: #222730;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tesseractreactangle {
    height: 150px;
    width: 450px;
    background-color: #4CAAB3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tesseractbigsqure {
    height: 250px;
    width: 250px;
    background-color: #222730;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tesseractsmallsqure {
    height: 150px;
    width: 150px;
    background-color: #4CAAB3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tesseractcircle {
    height: 50px;
    width: 50px;
    background-color: #222730;
    border-radius: 50%;
}

.cloakedspirtsbackground {
    height: 300px;
    width: 400px;
    background-color: #62306D;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cloakedspirtsfirst {
    height: 100px;
    width: 100px;
    background-color: #F7EC7D;
    position: relative;
}

.cloakedspirtssecond {
    height: 200px;
    width: 100px;
    background-color: #F7EC7D;
    position: relative;
}

.cloakedspirtsbrowncircle {
    height: 100px;
    width: 100px;
    background-color: #AA445F;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloakedspirtsorangecircle {
    height: 60px;
    width: 60px;
    background-color: #E38F66;
    border-radius: 50%;
}

.cloakedspirtscentercircle {
    height: 100px;
    width: 100px;
    background-color: #E38F66;
    border-radius: 50%;
    position: absolute;
    bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloakedspirtsorangecentercircle {
    height: 60px;
    width: 60px;
    background-color: #AA445F;
    border-radius: 50%;
}

.eyeofsauronbackground {
    height: 300px;
    width: 400px;
    background-color: #191210;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eyeofsauroncircleouterring {
    height: 150px;
    width: 150px;
    background-color: #ECA03D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eyeofsauronblackcirclering {
    height: 100px;
    width: 100px;
    background-color: #191210;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eyeofsauronredcirclering {
    height: 50px;
    width: 50px;
    background-color: #84271C;
    border-radius: 50%;
}


.eyeofsauronsidering {
    height: 50px;
    width: 100px;
    border: 20px solid #ECA03D;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top: none;
    position: absolute;
    bottom: 160px;
    right: 50px;
}

.eyeofsauronsideringright {
    transform: rotate(180deg);
    bottom: 160px;
    right: 50px;
}

.eyeofsauronsideringleft {
    bottom: 100px;
    left: 50px;
}

.wigglemoustachebackground {
    height: 300px;
    width: 400px;
    background-color: #F5D6B4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wigglemoustachecontainer {
    height: 50px;
    width: 90px;
    border: 20px solid #D86F45;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top: none;
    position: absolute;
}

.wigglemoustachecontainercenter {
    transform: rotate(180deg);
    position: absolute;
    top: 80px;
}

.wigglemoustachecontainerleft {
    position: absolute;
    left: 85px;
}

.wigglemoustachecontainerright {
    position: absolute;
    right: 85px
}

.wigglemoustachecontainerend {
    height: 20px;
    width: 20px;
    background-color: #D86F45;
    border-radius: 50%;
    position: absolute;
}

.wigglemoustachecontainerendleft {
    left: 85px;
    bottom: 165px;
}


.wigglemoustachecontainerendright {
    right: 85px;
    bottom: 165px;
}