.container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--hover);
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.input {
    background-color: transparent;
    color: var(--textSoft);
    border: none;
    outline: none;
}